# Uvicorn settings
PORT=8006
HOST=0.0.0.0
LOG_LEVEL=INFO
WORKERS=1
RELOAD="True"

# Application settings
TITLE="Data Loader"
DESCRIPTION="Data download service"
VERSION="0.0.1"
DOCS_URL="/docs"
REDOC_URL="/redoc"
OPENAPI_URL="/openapi.json"
APP_HOST=${HOST}
APP_PORT=${PORT}

# Settings logging
LEVEL="INFO"
GURU="True"
TRACEBACK="false"

# Excel File settings
# 50Mb
SIZE=524288000

# Yandex disk settings
YA_TOKEN="token"
YA_CLIENT_ID="id"
YA_DIR="temp_folder"
YA_ATTEMPT_COUNT=2

# Telegram application settings
TG_API_ID="https://my.telegram.org/apps"
TG_API_HASH="https://my.telegram.org/apps"
TG_BOT_TOKEN="https://my.telegram.org/apps"
TG_ADMIN_ID="0123456789"

# Base URL File handler service
BASE_URL="http://0.0.0.0:8005"
