HOST="0.0.0.0"

# Settings logging
LEVEL="DEBUG"
GURU="True"
TRACEBACK="False"

# Settings for RabbitMQ
RABBIT_USER="guest"
RABBIT_PASSWORD="guest"
RABBIT_HOST="0.0.0.0"
RABBIT_PORT="5672"

# Settings for RPCServer
RPC_QUEUE_NAME="speed_rpc_queue"

# Settings for Service
SERVICE_PORT="8005"
BASE_URL="http://${HOST}:${SERVICE_PORT}/"
TG_ADMIN_ID="-1"


# Yandex disk settings
YA_TOKEN=""
YA_CLIENT_ID=""
YA_DIR="ii_speed"
YA_ATTEMPT_COUNT=10
