HOST="0.0.0.0"
# Settings logging
LEVEL="DEBUG"
GURU="True"
TRACEBACK="False"

# Settings Clicker
MIN_SEC=3
MAX_SEC=6
MIN_SEC_ANSWER=5
MAX_SEC_ANSWER=15

# Settings for RabbitMQ
RABBIT_USER="guest"
RABBIT_PASSWORD="guest"
RABBIT_HOST="0.0.0.0"
RABBIT_PORT="5672"
RABBIT_PORT="5672"

# Settings for RPCServer
RPC_QUEUE_NAME="speed_rpc_queue"

# Settings for Service
BASE_URL="http://${HOST}:8005/"
TG_ADMIN_ID="-1"


# Yandex disk settings
YA_TOKEN="any token"
YA_CLIENT_ID="12345fsdfgdgdgfkldfgk;lks;ldkas;dasddd5810a5f2f3d68c6c8"
YA_DIR="any_dir"
YA_ATTEMPT_COUNT=10